body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  text-align: center;
}

.container {
  margin-top: 100px;
  background: white;
  padding: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

input, button {
  margin: 10px;
  padding: 10px;
  width: 80%;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 150px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
}

.camera-box {
  width: 300px;
  height: 200px;
  background: #ccc;
  margin: auto;
  line-height: 200px;
}
